.grid-cell {
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.grid-cell.disabled {
  cursor: not-allowed;
}

.grid-cell-inner {
  width: 100%;
  height: 100%;
  border: 2px solid;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.grid-cell:not(.disabled) .grid-cell-inner:hover {
  filter: brightness(1.2);
}
